<%= form_for(@paired_deposit) do |f| %>
  <% if @paired_deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paired_deposit.errors.count, "error") %> prohibited this paired_deposit from being saved:</h2>

      <ul>
      <% @paired_deposit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :deposit_id %><br>
    <%= f.text_field :deposit_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
