<p id="notice"><%= notice %></p>

<h1>Listing Paired Deposits</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Deposit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paired_deposits.each do |paired_deposit| %>
      <tr>
        <td><%= paired_deposit.date %></td>
        <td><%= paired_deposit.user %></td>
        <td><%= paired_deposit.deposit %></td>
        <td><%= link_to 'Show', paired_deposit %></td>
        <td><%= link_to 'Edit', edit_paired_deposit_path(paired_deposit) %></td>
        <td><%= link_to 'Destroy', paired_deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paired deposit', new_paired_deposit_path %>
