<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @paired_deposit.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @paired_deposit.user %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @paired_deposit.deposit %>
</p>

<%= link_to 'Edit', edit_paired_deposit_path(@paired_deposit) %> |
<%= link_to 'Back', paired_deposits_path %>
