<p id="notice"><%= notice %></p>
<div ng-controller="IndexController as indexCtrl">
  <div class="row">
    <div class="col-md-6 list-group">
      <h1>Obědy</h1>
      <div class="list-group-item" ng-repeat="item in indexCtrl.meals">
        <h4 class="list-group-item-heading">{{item.name}}</h4>
        <span class="label label-success" ng-show="item.discount">Dotace</span>
        <span class="label label-default">{{item.date | date:'dd.M.yyyy hh:mm:ss' }}</span>
        <span ng-show="item.pieces != 1" class="label label-warning">Množství {{item.pieces}}</span>
        <span class="label label-danger">{{item.price}},- Kč</span>
        <div class="form-inline assign-meal">
          <div ng-show="item.userId == undefined">
            <div class="form-group">
              <select  class="form-control" ng-model="indexCtrl.mealUser[item.mealId]">
                <option ng-repeat="user in indexCtrl.users" value="{{user.id}}">{{user.firstname}} {{user.surname}}</option>
              </select>
            </div>
            <button type="submit" ng-disabled="!indexCtrl.mealUser[item.mealId]" class="btn btn-primary" ng-click="indexCtrl.assignMeal(item.mealId, indexCtrl.mealUser[item.mealId])">Přiřadit</button>
          </div>
          <div ng-show="item.userId != undefined">
            <div class="form-group">
              <input disabled class="form-control" type="text" placeholder="{{item.firstname}} {{item.surname}}">
            </div>
            <button type="submit" class="btn btn-danger" ng-click="indexCtrl.unassignMeal(item.id)">Odstranit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 list-group">
      <h1>Jedlíci</h1>
      <div class="list-group-item" ng-repeat="user in indexCtrl.users">
        <h4 class="list-group-item-heading">{{user.firstname}} {{user.surname}}</h4>
        <span class="account">Stav konta: <span class="label" ng-class="user.account >= 0 ? 'label-success' : 'label-danger'">{{user.account}},- Kč</span></span>
      </div>
    </div>

    <div class="col-md-6 list-group">
      <h1>Vklady</h1>
      <div class="list-group-item" ng-repeat="item in indexCtrl.deposits">
        <h4 class="list-group-item-heading">Vklad {{item.amount}},- Kč</h4>
        <span class="label label-default">{{item.date | date:'dd.M.yyyy hh:mm:ss' }}</span>
        <div class="form-inline assign-meal">
          <div ng-show="item.userId == undefined">
            <div class="form-group">
              <select  class="form-control" ng-model="indexCtrl.depositUser[item.depositId]">
                <option ng-repeat="user in indexCtrl.users" value="{{user.id}}">{{user.firstname}} {{user.surname}}</option>
              </select>
            </div>
            <button type="submit" ng-disabled="!indexCtrl.depositUser[item.depositId]" class="btn btn-primary" ng-click="indexCtrl.assignDeposit(item.depositId, indexCtrl.depositUser[item.depositId])">Přiřadit</button>
          </div>
          <div ng-show="item.userId != undefined">
            <div class="form-group">
              <input disabled class="form-control" type="text" placeholder="{{item.firstname}} {{item.surname}}">
            </div>
            <button type="submit" class="btn btn-danger" ng-click="indexCtrl.unassignDeposit(item.id)">Odstranit</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row alerts-bar">
    <uib-alert ng-repeat="alert in import.alerts" type="{{alert.type}}" close="import.closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>

</div>