<p id="notice"><%= notice %></p>

<h1>Jedlíci</h1>
<%= link_to 'Nový uživatel', new_user_path, :class => 'btn btn-success' %>
<table class="table">
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th>Účet</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %> <%= user.surname %> (<%= user.username %>)</td>
        <td><%= user.email %></td>
        <td><%= user.account %></td>
        <td><%= link_to 'Upravit', edit_user_path(user) %></td>
        <td><%= link_to 'Smazat', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
