<p id="notice"><%= notice %></p>
<div ng-controller="ImportController as import">
  <h1>Importování záznamů</h1>
  <div class="row">
    <a class="btn btn-success" ng-click="import.importLunches('12_2_2016')">Importovat ze dne 12.2.2016</a>
    <a class="btn btn-success" ng-click="import.importLunches('15_2_2016')">Importovat ze dne 15.2.2016</a>
    <a class="btn btn-success" ng-click="import.importLunches('16_2_2016')">Importovat ze dne 16.2.2016</a>
    <a class="btn btn-danger" ng-click="import.deleteDBData()">Smazat data databáze</a>
  </div>
  <div class="row alerts-bar">
    <uib-alert ng-repeat="alert in import.alerts" type="{{alert.type}}" close="import.closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>

</div>