<%= form_for(@taken_meal) do |f| %>
  <% if @taken_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taken_meal.errors.count, "error") %> prohibited this taken_meal from being saved:</h2>

      <ul>
      <% @taken_meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :meal_id %><br>
    <%= f.text_field :meal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
