<p id="notice"><%= notice %></p>

<h1>Připsaná jídla</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Meal</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% taken_meals.each do |taken_meal| %>
      <tr>
        <td><%= taken_meal.user.firstname %> <%= taken_meal.user.surname %></td>
        <td><%= taken_meal.meal.name %></td>
        <td><%= link_to 'Odstranit', taken_meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h1>Připsané vklady</h1>

  <table class="table">
    <thead>
    <tr>
      <th>User</th>
      <th>Deposit</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% paired_deposits.each do |paired_deposit| %>
        <tr>
          <td><%= paired_deposit.user.firstname %> <%= paired_deposit.user.surname %></td>
          <td><%= paired_deposit.deposit.amount %></td>
          <td><%= link_to 'Odstranit', paired_deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>

</table>