<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @taken_meal.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @taken_meal.user %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @taken_meal.meal %>
</p>

<%= link_to 'Edit', edit_taken_meal_path(@taken_meal) %> |
<%= link_to 'Back', taken_meals_path %>
