<p id="notice"><%= notice %></p>

<h1>Odebraná jídla</h1>

<table class="table">
  <thead>
    <tr>
      <th>Místo</th>
      <th>Název</th>
      <th>Množství</th>
      <th>Popis</th>
      <th>Cena</th>
      <th>Datum</th>
      <th>Sleva</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.place %></td>
        <td><%= meal.name %></td>
        <td><%= meal.pieces %></td>
        <td><%= meal.description %></td>
        <td><%= meal.price %></td>
        <td><%= meal.date %></td>
        <td><%= meal.discount %></td>
        <td><%= link_to 'Editovat', edit_meal_path(meal) %></td>
        <td><%= link_to 'Smazat', meal, method: :delete, data: { confirm: 'Jste si jist?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>