<p id="notice"><%= notice %></p>

<h1>Vklady hotovosti</h1>

<table class="table">
  <thead>
    <tr>
      <th>Místo</th>
      <th>Datum</th>
      <th>Částka</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.place %></td>
        <td><%= deposit.date %></td>
        <td><%= deposit.amount %></td>
        <td><%= link_to 'Show', deposit %></td>
        <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td>
        <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposit', new_deposit_path %>
