<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @deposit.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deposit.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
