<!DOCTYPE html>
<html>
<head>
  <title>Lunches</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/javascript/angular.js"></script>
  <script src="/javascript/angular-animate.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascript/ui-bootstrap.js"></script>
  <script src="/javascript/treasure-overlay-spinner.min.js"></script>
  <link href="/css/treasure-overlay-spinner.min.css" rel="stylesheet">
  <script src="/javascript/angular_app.js"></script>
  <script src="/javascript/import/import_controller.js"></script>
  <script src="/javascript/import/index_controller.js"></script>
</head>
<body ng-app="lunchesApp">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Obědy</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Odběry', controller: 'taken_meals', action: 'index' %></li>
          <li><%= link_to 'Jedlíci', controller: 'users', action: 'index' %></li>
          <li><%= link_to 'Obědy', controller: 'meals', action: 'index' %></li>
          <li><%= link_to 'Vklady', controller: 'deposits', action: 'index' %></li>
          <li><%= link_to 'Import', controller: 'import', action: 'index' %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container main-container">
    <%= yield %>
  </div>


</body>
</html>
